@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Nunito Sans', sans-serif;
    }
/*
    @font-face{
        font-family: 'Playfair';
        font-optical-sizing: auto;
        font-weight: 900;
        font-style: normal;
        src: 
        url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
    }
    @font-face{
        font-family: 'Nunito';
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        src: 
        url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
    }
    */
};
